.card {
    /*
                background-image: url("../inception.jpg");
    */
                background-size:     cover;                    
                background-position: center;
                }

 html {
                background-color: rgb(223,198,162);
     /*
                background-image:
                   url('../shelving.jpg');
                background-position: top;
                background-repeat: repeat-y;
     */

            }
.grid {
                background-image: url("../Images/shelving.png");
                background-size:     cover;                    
                background-position: center;
}

.preview{
            display: none;
    
}

.image {        
                background-image: url('../Images/inception.jpg');
                background-size:     cover;                    
                background-position: center;
}