<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<!-- Include the landing page background image fragment -->
<div th:include="fragments/landing-bg :: landing-bg"></div>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <div class="main-div uk-padding text-align-right">
        <h1>Account Upgrade Page</h1>
        <p>The session you were linked to has expired.<br>You should upgrade your account to a full account.</p>
    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
