<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<!-- Include the landing page background image fragment -->
<div th:include="fragments/landing-bg :: landing-bg"></div>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Display a really simple error page that doesn't even tell you which error happened -->
    <div class="main-div uk-padding">
        <h1><span th:text="${status}"></span> <span th:text="${error}"></span></h1>
        <p>An error has occurred!</p>

        <pre>
Timestamp: <span th:text="${timestamp}"></span>
Error Path: <span th:text="${path}"></span>
Error Code: <span th:text="${status}"></span>
Error Message: <span th:text="${error}"></span>
Error Description: <span th:text="${message}"></span></pre>
        <!--<a href="javascript:history.back()">Go Back</a><-->
        <p>We're sorry this has happened!</p>
    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
