<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <div id="main-with-sidebar" class="uk-padding">

        <h2>Friends</h2>
        <hr>
        <div id="incoming-friends-requests">
            <p>Incoming Friend Requests</p>
            <table class="table table-bordered">
                <tr th:each="friend : ${incoming_requests}" th:object="${user}">
                    <td>
                        <span th:text="${friend.getUsername()}"></span>
                        <!-- THESE DON'T LINK CORRECTLY AS THEY ARE -->
                        <a th:href="/api/friends/confirm">(Confirm)</a>
                        <a th:href="'api/friends/delete/'+${friend.getUsername()}">(Delete)</a>
                    </td>
                </tr>
            </table>
        </div>

        <hr>
        <div id="outgoing-friends-requests">
            <p>Outgoing Friend Requests</p>
            <table class="table table-bordered">
                <tr th:each="friend : ${outgoing_requests}" th:object="${user}">
                    <td>
                        <span th:text="${friend.getUsername()}"></span>
                        <!-- THESE DON'T LINK CORRECTLY AS THEY ARE -->
                        <a th:href="'api/friends/cancel/'+${friend.getUsername()}">(Cancel)</a>
                    </td>
                </tr>
            </table>
        </div>

        <hr>
        <div id="friends-list">
            <p>Friends List</p>
            <table class="table table-bordered">
                <tr th:each="friend : ${friends}" th:object="${user}">
                    <td>
                        <span th:text="${friend.getUsername()}"></span>
                        <!-- THESE DON'T LINK CORRECTLY AS THEY ARE -->
                        <a th:href="'api/friends/remove/'+${friend.getUsername()}">(Remove)</a>
                    </td>
                </tr>
            </table>
        </div>

        <form th:action="@{/api/friends}" th:object="${String}" method="post">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-input" type="text" name="userName" id="userName" placeholder="Username"/>
                </div>
                <div class="uk-margin">
                    <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Add Friend"/>
                </div>
            </fieldset>
        </form>

    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>

</div>

<!-- Include JS script to load the Friends list -->
<script src="/js/friendsPage.js"></script>
</body>
</html>