<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <div class="uk-offcanvas-content uk-light">

            <!-- Include the nav fragment -->
            <div th:include="fragments/nav :: nav"></div>

            <div class="uk-padding">

                <h1>Index Page</h1>

                <!-- Landing Page for a not-logged-in user -->
                <div sec:authorize="isAnonymous()">
                    <h2>Not Logged In</h2>
                    <h3>Todo: Display a landing page here</h3>
                </div>

                <!-- Landing page for a logged-in user -->
                <div sec:authorize="isAuthenticated()">
                    <h2>Logged In</h2>
                    <h2>Hello, <span sec:authentication="name">null</span>!</h2>
                </div>

            </div>

            <!-- Include the footer fragment -->
            <div th:include="fragments/footer :: footer"></div>
        </div>
    </body>
</html>
