<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <!-- Include the landing page background image fragment for unauthorized user -->
        <div th:include="fragments/landing-bg :: landing-bg" sec:authorize="isAnonymous()"></div>

        <div class="uk-offcanvas-content uk-light">
            <!-- Include container for ladning page particle effects -->
            <!--<div id="particles-js-index"></div>-->

            <!-- Include the nav fragment -->
            <div th:include="fragments/nav :: nav"></div>

            <!-- Include the sidebar fragment if the user is logged in -->
            <div id="sidebar" class="uk-visible@m" sec:authorize="isAuthenticated()">
                <div th:include="fragments/sidebar :: sidebar">
                    <form action="#" th:action="@{/user/addFriend}" th:object="${user}" method="post">
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend">Add Friend</legend>

                            <div class="uk-margin" th:if="${message}" th:text="${message}">
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-input" type="text" th:field="*{username}" placeholder="Username"/>
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Add"/>
                            </div>
                        </fieldset>
                    </form>

                    <form action="#" th:action="@{/user/removeFriend}" th:object="${user}" method="post">
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend">Remove Friend</legend>

                            <div class="uk-margin" th:if="${message}" th:text="${message}">
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-input" type="text" th:field="*{username}" placeholder="Username"/>
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Remove"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- Landing Page for a not-logged-in user -->
            <div class="uk-padding" sec:authorize="isAnonymous()">
                <h1>Index Page</h1>

                <h2>Not Logged In</h2>
                <h3>Todo: Display a landing page here</h3>
            </div>

            <!-- Landing page for a logged-in user -->
            <div id="main-with-sidebar" class="uk-padding" sec:authorize="isAuthenticated()">
                <h2>Hello, <span th:text="${userProfile.getDisplayName()}">null</span>!</h2>
                <hr>
                <h4>My Shelf</h4>
                <p>Add some movies to your shelf to start finding suggestions.</p>
                <p>Examples:<br>tt1375666 - Inception<br>tt0816692 - Interstellar<br>tt3659388 - The Martian</p>

                <form th:action="@{/shelf/addMovie}" th:object="${String}" method="post">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <input class="uk-input" type="text" name="titleId" id="titleId" placeholder="Title ID"/>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Add Movie"/>
                        </div>
                    </fieldset>
                </form>

                <p>Your movie list:</p>
                <table class="table table-bordered">
                    <tr th:each="userTitle : ${userTitles}" th:object="${userTitle}">
                        <td>
                            <span th:text="${titleRepo.getByTitleId(userTitle.getTitleId()).getTitleName()}"></span>
                            <a th:href="'/shelf/removeMovie/'+${userTitle.getTitleId()}">(Remove)</a>
                        </td>
                    </tr>
                </table>

                <div class="shelf">
                    <div class="bookend_left"></div>
                    <div class="bookend_right"></div>
                    <div class="reflection"></div>
                </div>
                <div class="shelf">
                    <div class="bookend_left"></div>
                    <div class="bookend_right"></div>
                    <div class="reflection"></div>
                </div>
                <div class="shelf">
                    <div class="bookend_left"></div>
                    <div class="bookend_right"></div>
                    <div class="reflection"></div>
                </div>
                <div class="shelf">
                    <div class="bookend_left"></div>
                    <div class="bookend_right"></div>
                    <div class="reflection"></div>
                </div>
            </div>

            <!-- Include the footer fragment -->
            <div th:include="fragments/footer :: footer"></div>

            <script sec:authorize="isAnonymous()" src="/js/particles.min.js"></script>
            <script sec:authorize="isAnonymous()" src="/js/particles-index.js"></script>
        </div>
    </body>
</html>
