<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <div id="main-with-sidebar" class="uk-padding">
        <span><h2 th:text="${title.getTitleName()}"></h2><span>(<b th:text="${title.getYear()}"></b>)</span></span>
        <hr>
        <div>
          <!-- main content -->
            <p class = "summary">
              <!-- Scraped Description -->
              <div class="thumbnail"><img th:src="${metadataService.getImage(title.getTitleId())}" width="100%" height="100%"></div>
            <p th:text="${metadataService.getDescription(title.getTitleId())}"></p>

            </p>
              <span>Release Year: <b th:text="${title.getYear()}"></b></span><br>
            <span>Runtime: <b th:text="${title.getRuntimeMinutes()}"></b></span></b><br>
            <span>Personnel: <b th:text="${metadataService.getPersonnel(title.getAssociatedPeople())}"></b></span></b><br>
        </div>
    </div>
</div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>

</div>
<!-- Include JS script to load the Movie Image and Description -->
<script src="/js/friendsPage.js"></script>
</body>
</html>
