<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m" sec:authorize="isAuthenticated()">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <!-- Landing page for a logged-in user -->
    <div id="main-with-sidebar" class="uk-padding">


        <h2 th:text="${userProfile.getDisplayName()}"></h2>
        <p><a href="/user/options">Edit Profile</a></p>
        <hr>
        <p><b>Language:</b> <span th:text="${userProfile.getPrimaryLanguage()}"></span></p>
        <p><b>Birthdate:</b> <span th:text="${userProfile.getBirthdate()}"></span></p>
        <a href="/user/delete">(Delete)</a>
        <hr>
        <h2>Friends</h2>

        <ul uk-tab>
          <li><a href="#">Current</a></li>
          <li><a href="#">Outgoing Requests</a></li>
          <li><a href="#">Incoming Requests</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <li>
            <table class="table table-bordered" id="friends-list-table">
                <tr th:each="friend : ${userFriends}" th:object="${user}">
                    <td th:id="'friends-list-table-entry-' + ${friend.getUsername()}">
                        <a th:text="${friend.getUsername()}" th:href="@{'/user/profile/'+${friend.getUsername()}}"></a>
                        <a class="remove-friend-link" th:id="'friend-remove-'+${friend.getUsername()}">(Remove)</a>
                    </td>
                </tr>
            </table>
          </li>
          <li>
            <table class="table table-bordered" id="outgoing-friend-request-table">
                <tr th:each="friend : ${outgoingRequests}" th:object="${user}">
                    <td th:id="'outgoing-friend-request-table-entry-' + ${friend.getUsername()}">
                        <a th:text="${friend.getUsername()}" th:href="@{'/user/profile/'+${friend.getUsername()}}"></a>
                        <a class="cancel-outgoing-friend-request-link" th:id="'friend-request-cancel-'+${friend.getUsername()}">(Cancel)</a>
                    </td>
                </tr>
            </table>
        </li>
        <li>
          <table class="table table-bordered" id="incoming-friends-requests">
              <tr th:each="friend : ${incomingRequests}" th:object="${user}">
                  <td th:id="'incoming-friend-request-table-entry-' + ${friend.getUsername()}">
                      <a th:text="${friend.getUsername()}" th:href="@{'/user/profile/'+${friend.getUsername()}}"></a>
                      <a class="confirm-friend-request-link" th:id="${'friend-request-confirm-' + friend.getUsername()}">(Confirm)</a>
                      <a class="deny-friend-request-link" th:id="${'friend-request-deny-' + friend.getUsername()}">(Delete)</a>
                  </td>
              </tr>
          </table>
        </li>
      </ul>
    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
