<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <div id="main-with-sidebar" class="uk-padding">
        <!-- Main content-->
        <h1 class="resultText">Top Session Results: </h1>

        <div class="topHit">
          <div class="thumb"><img th:src="${metaDaniel.getImage(first.getTitleId())}" width=100% hight=100%></div>
          <div class="description">
            <h1 th:text="${first.getTitleName()}"></h1>
            <p th:text="${metaDaniel.getDescription(first.getTitleId())}"></p>
            <p th:text="${first.getYear()}"></p>
          </div>
        </div>

        <div class="topHit">
          <div class="thumb"><img th:src="${metaDaniel.getImage(second.getTitleId())}" width=100% hight=100%></div>
          <div class="description">
            <h1 th:text="${second.getTitleName()}"></h1>
            <p th:text="${metaDaniel.getDescription(second.getTitleId())}"></p>
            <p th:text="${second.getYear()}"></p>
          </div>
        </div>

        <div class="topHit">
          <div class="thumb"><img th:src="${metaDaniel.getImage(third.getTitleId())}" width=100% hight=100%></div>
          <div class="description">
            <h1 th:text="${third.getTitleName()}"></h1>
            <p th:text="${metaDaniel.getDescription(third.getTitleId())}"></p>
            <p th:text="${third.getYear()}"></p>
          </div>
        </div>

        <!-- Remaing Reasults -->
        <h1 class="resultText">Additional Results: </h1>
        <div class="remainingResult">
          <div th:each="title : ${sessionResults.getRecommendations()}" th:object="${title}">
              <div class="thumb card"><img th:src="${metaDaniel.getImage(title.getTitleId())}" width=100% hight=100%></div>
          </div>
        </div>
    </div>
</div>

<!-- Include the footer fragment -->
<div th:include="fragments/footer :: footer"></div>

</div>
</body>
</html>
