<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m" sec:authorize="isAuthenticated()">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <!-- Landing page for a logged-in user -->
    <div id="main-with-sidebar" class="uk-padding">

        <h2 id="session-title"><b th:text="${msSession.getSessionName()}"></b>
            <!--
        <span id="session-subtitle">Session Code: <span th:text="${msSession.getSessionCode()}"></span></span>-->
        </h2>


        <div class="hr-sect">
            <a class="uk-button" id="button-session-invite" href="#modal-session-invite" uk-toggle>Invite Friends</a>
            <a class="uk-button" id="button-session-finish">Finish!</a>
        </div>

        <div id="session-user-you">
            <div class="session-user">
                <div uk-grid>
                    <div class="uk-width-auto session-user-holder uk-flex uk-flex-column uk-flex-center" th:text="${userObject.getUsername()}"></div>
                    <div class="noborder uk-width-auto uk-flex uk-flex-column uk-flex-center"><div class="session-arrow-left"></div></div>
                    <div class="uk-width-expand session-movie-holder">Movies Chosen</div>
                    <div class="uk-width-auto session-user-confirm-holder uk-flex uk-flex-column uk-flex-center">
                        <div class="session-confirm-icon uk-flex uk-align-center uk-flex-column uk-flex-center">
                            <span uk-icon="icon: check" class="session-user-confirm-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-sect">
            Other Users
        </div>
        <div id="session-users">
            <div class="session-user" th:each="sessionUser : ${sessionUsers}" th:object="${sessionUser}">
                <div uk-grid>
                    <div class="uk-width-auto session-user-holder uk-flex uk-flex-column uk-flex-center" th:text="${sessionUser.getUsername()}"></div>
                    <div class="noborder uk-width-auto uk-flex uk-flex-column uk-flex-center"><div class="session-arrow-left"></div></div>
                    <div class="uk-width-expand session-movie-holder">Movies Chosen</div>
                    <div class="uk-width-auto session-user-confirm-holder uk-flex uk-flex-column uk-flex-center">
                        <div class="session-confirm-icon uk-flex uk-align-center uk-flex-column uk-flex-center">
                        <span uk-icon="icon: check" class="session-user-confirm-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="modal-session-invite" class="uk-modal-full uk-modal" uk-modal>
        <div class="uk-modal-dialog uk-flex uk-light uk-flex-column uk-flex-center uk-flex-middle asphalt" uk-height-viewport>
            <button style="background-color: rgba(0,0,0,0)" id="session-code-close" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <h2 style="text-align: center; font-weight: 400; margin: 0px;">Invite your friends to join this Session!</h2>
            <p style="text-align: center; font-weight: 400;">Share the following code, which can be used as a guest login:</p>
            <h1 style="margin: 0px; font-style: italic; font-weight: bold;" th:text="${msSession.getSessionCode()}"></h1>
        </div>
    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>

    <script src="/js/sessionLive.js"></script>
</div>
</body>
</html>
