<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m" sec:authorize="isAuthenticated()">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <!-- Landing page for a logged-in user -->
    <div id="main-with-sidebar" class="uk-padding">
        <h2 th:text="${userOptions.getDisplayName()}"></h2>
        <hr>
        <p><b>Language:</b> <span th:text="${userOptions.getPrimaryLanguage()}"></span></p>
        <p><b>Birthdate:</b> <span th:text="${userOptions.getBirthdate()}"></span></p>
        
        <ul uk-tab>
          <li><a href="#">Friends</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <li>
            <table class="table table-bordered" id="friends-list-table">
                <tr th:each="friend : ${userFriends}" th:object="${user}">
                    <td th:id="'friends-list-table-entry-' + ${friend.getUsername()}">
                        <span th:text="${friend.getUsername()}"></span>
                    </td>
                </tr>
            </table>
          </li>
      </ul>

    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
