<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <!-- Include the landing page background image fragment -->
        <div th:include="fragments/landing-bg :: landing-bg"></div>

        <div class="landing-movie-tape-effect-left landing-movie-tape-effect"></div>
        <div class="landing-movie-tape-effect-right landing-movie-tape-effect"></div>

        <div class="uk-offcanvas-content uk-light">

            <!-- Include the modals fragment -->
            <div th:include="fragments/modals :: modals"></div>

            <div class="landing-container">
                <div id="landing-logo">

                </div>

                <!-- Display a login form if the user is not already loggeed in -->
                <div id="landing-sidebar" class="uk-card-secondary uk-card-body" sec:authorize="isAnonymous()">
                    <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend">Sign Up</legend>

                            <div class="uk-margin" th:if="${message}" th:text="${message}">
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-input" type="text" th:field="*{username}" placeholder="Username"/>
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-input" type="text" th:field="*{password}" placeholder="Password"/>
                            </div>

                            <div class="uk-margin" th:if="${showForm}">
                                <input class="uk-width-1-1 uk-button uk-button-primary" type="submit" value="Register"/>
                            </div>
                        </fieldset>
                    </form>

                    <a href="/login">
                        <button class="uk-button uk-button-default uk-width-1-1" th:if="${showForm}">Cancel</button>
                        <button class="uk-button uk-button-default uk-width-1-1" th:if="${!showForm}">Back</button>
                    </a>

                </div>

                <!-- Redirect to the landing page if the user is already logged in (TODO) -->
                <div sec:authorize="isAuthenticated()">
                    <h2>Already Logged In!</h2>
                    <p>Todo: Redirect to landing page.</p>
                </div>

            </div>


            <!-- Include the footer fragment -->
            <div th:include="fragments/footer :: footer"></div>
        </div>
    </body>
</html>
