<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div th:include="fragments/sidebar :: sidebar"></div>

    <!-- Landing page for a logged-in user -->
    <div id="main-with-sidebar" class="uk-padding">


        <h2 th:text="${userProfile.getDisplayName()}"></h2>
        <p><a href="/user/options">Edit Profile</a></p>
        <hr>
        <p><b>Language:</b> <span th:text="${userProfile.getPrimaryLanguage()}"></span></p>
        <p><b>Birthdate:</b> <span th:text="${userProfile.getBirthdate()}"></span></p>
        <hr>
    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
