<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="uk-offcanvas-content uk-light">

    <!-- Include the nav fragment -->
    <div th:include="fragments/nav :: nav"></div>

    <!-- Include the sidebar fragment -->
    <div id="sidebar" class="uk-visible@m" sec:authorize="isAuthenticated()">
        <div th:include="fragments/sidebar :: sidebar"></div>
    </div>

    <!-- Landing page for a logged-in user -->
    <div id="main-with-sidebar" class="uk-padding">
        <h2 th:text="${userOptions.getDisplayName()}"></h2>
        <ul uk-tab>
          <li><a href="#">Shelf</a></li>
          <li><a href="#">Friends</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <li>
            <div th:each="userTitleRow : ${userTitleRows}" th:object="${userTitleRow}">
                <div class="shelf">
                    <div class=" flag shelf-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
                        <div th:each="userTitle : ${userTitleRow}" th:object="${userTitle}">
                            <div class="shelf-item-holder">
                            <div class="shelf-item-box">
                              <a th:href="'/titles/'+${userTitle.getTitleId()}">
                                <div class="movie">
                                    <img th:src="${metadataService.getImage(userTitle.getTitleId())}" width="100%" height="100%">
                                </div>
                              </a>
                            </div>
                          </div>
                      </div>
                      <div th:if="${userTitleRow.size() &lt; 2}" class="shelf-item-holder"></div>
                      <div th:if="${userTitleRow.size() &lt; 3}" class="shelf-item-holder"></div>
                    </div>
                </div>
            </div>
          </li>
          <li>
            <table class="table table-bordered" id="friends-list-table">
                <tr th:each="friend : ${userFriends}" th:object="${user}">
                    <td th:id="'friends-list-table-entry-' + ${friend.getUsername()}">
                        <a th:text="${friend.getUsername()}" th:href="@{'/user/profile/'+${friend.getUsername()}}"></a>
                    </td>
                </tr>
            </table>
          </li>
      </ul>

    </div>

    <!-- Include the footer fragment -->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
