<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <!-- Include the landing page background image fragment -->
        <div th:include="fragments/landing-bg :: landing-bg"></div>

        <div class="uk-offcanvas-content uk-light">

            <div class="main-div uk-padding">

                <!-- Display a login form if the user is not already loggeed in -->
                <div sec:authorize="isAnonymous()">
                    <div id="landing-sidebar" class="uk-card-secondary uk-card-hover uk-card-body">
                        <form th:action="@{/login}" method="post">
                            <fieldset class="uk-fieldset">

                                <legend class="uk-legend">Sign In</legend>

                                <div class="uk-margin">
                                    <div th:if="${param.error}">
                                        Invalid username and password.
                                    </div>
                                    <div th:if="${param.logout}">
                                        You have been logged out.
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                                        <input class="uk-input" type="text" name="username" placeholder="Username"/>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        <input class="uk-input" type="password" name="password" placeholder="Password"/>
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <label><input class="uk-checkbox" type="checkbox" name="remember-me" id="remember-me" checked> Remember Me</label>
                                    </div>
                                </div>


                                <div class="uk-margin-small">
                                    <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Sign In"/>
                                </div>
                            </fieldset>
                        </form>

                        <div class="uk-margin-small">
                            <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Sign Up"/>
                        </div>

                        <div class="hr-sect">Or</div>
                        <button id="join-session" class="uk-button uk-button-primary uk-width-1-1 uk-button-large" href="#modal-session-code" uk-toggle>Join as Guest</button>

                    </div>
                </div>

                <!-- Redirect to the landing page if the user is already logged in (TODO) -->
                <div sec:authorize="isAuthenticated()">
                    <h2>Already Logged In!</h2>
                    <p>Todo: Redirect to landing page.</p>
                </div>

            </div>

            <!-- Include the footer fragment -->
            <div th:include="fragments/footer :: footer"></div>
        </div>
    </body>
</html>