<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <!-- Include the landing page background image fragment -->
        <div th:include="fragments/landing-bg :: landing-bg"></div>

        <div class="uk-offcanvas-content uk-light">

            <!-- Include the nav fragment -->
            <div th:include="fragments/nav :: nav"></div>

            <div class="uk-padding">

                <div id="landing-sidebar" class="uk-card-secondary uk-card-hover uk-card-body">
                    <!-- TODO: Display a registration form here -->
                    <p th:text="${message}"></p> <!-- added to receive message from controller -->
                    <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend">Sign Up</legend>

                            <div class="uk-margin">
                                <input class="uk-input" type="text" th:field="*{username}" placeholder="Username"/>
                            </div>

                            <div class="uk-margin">
                                <input class="uk-input" type="text" th:field="*{password}" placeholder="Password"/>
                            </div>

                            <div class="uk-margin">
                                <input class="uk-width-1-1 uk-button uk-button-default" type="submit" value="Register"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- Include the footer fragment -->
            <div th:include="fragments/footer :: footer"></div>
        </div>
    </body>
</html>
