<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <div class="uk-offcanvas-content uk-light">

            <!-- Include the nav fragment -->
            <div th:include="fragments/nav :: nav"></div>

            <div class="uk-padding">

                <h1>Register Page</h1>

                <!-- TODO: Display a registration form here -->

            </div>

            <!-- Include the footer fragment -->
            <div th:include="fragments/footer :: footer"></div>
        </div>
    </body>
</html>