.shelf-container {

    box-sizing: border-box;
    width: 100%;
    padding-bottom: 29%;
    border: 5px solid #ff0007;
}

.shelf-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/shelving.png");
    background-repeat: repeat-y;
    background-size: contain;
}

.shelf {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 29%;
    background-image: url("/img/shelving.png");
    background-repeat: repeat-y;
    background-size: contain;
}