body {
}

html {
    background-color: rgb(52, 73, 94);
}

/*
  Session Results Classes
*/
.topHit{
  margin: auto;
  display: inline-block;
  margin-bottom: 20px
}

.resultText{
  color: rgb(236, 240, 241);
}

.description{
  margin: auto;
  style=float:right
}

.thumb{
  width: 205px;
  height: 300px;
  background-color: rgb(227,68,77);
  float: left;
  margin: 10px;
}

.remainingResult{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    margin: 10px;
}

.card{
  flex: 0 0 auto;
}

/*
  End Session Results Classes
*/
@font-face {
    font-family: titleFont;
    src: url("/fonts/titleFont.ttf");
}

#title-display {
    font-family: titleFont;
    font-size:34px;
    color: white;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 100px;
    left: 0;
    width: 240px;
    box-sizing: border-box;
    padding:20px;
    padding-top:120px;
    background-color: rgb(44, 62, 80);
    color: white;
    -webkit-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
}

#side-nav {
    background-color: rgb(44, 62, 80);
    bottom: 100px;
}

@media (min-width: 960px) {
    #main-with-sidebar {
        left: 240px !important;
    }
}

.main-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    overflow: auto;
}

.landing-container {
    width: 100%;
    height: 100%;
}

.landing-movie-tape-effect {
    background: url(/img/film_strip.png) repeat-y;
    background-size: contain;
    width: 100px;
    height: 100%;
    position: fixed;
}

.landing-movie-tape-effect-left {
    top: 0;
    left: 0;
    transform-origin: 0% 50%;
    transform: translateY(-25%) rotate(45deg);
    animation:5s slight-rotate-top infinite ease;
}

.landing-movie-tape-effect-right {
    top: 0;
    right: 0;
    transform-origin: 0% 50%;
    transform: translateY(25%) rotate(45deg);
    animation:5s slight-rotate-bottom infinite ease;
}

@keyframes slight-rotate-top {
    0% {
        transform: translateY(-25%) rotate(42deg);
    }
    50% {
        transform: translateY(-25%) rotate(48deg);
    }
    100%{
        transform: translateY(-25%) rotate(42deg);
    }
}
@keyframes slight-rotate-bottom {
    0% {
        transform: translateY(25%) rotate(48deg);
    }
    50% {
        transform: translateY(25%) rotate(42deg);
    }
    100%{
        transform: translateY(25%) rotate(48deg);
    }
}

#landing-sidebar {
    position: relative;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    background-color: rgb(44, 62, 80);
    box-sizing: border-box;
    padding-top: 200px;
}

#title-display {
    background: #54677a url(/img/logo.svg) no-repeat center;
    background-size: contain;
    width: 240px;
    height: 80px;
    /* padding-bottom: 20px; */
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#landing-logo {
    position: absolute;
    top: 0;
    height: 200px;
    /* width: 400px; */
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url("/img/logo.svg") no-repeat center;
    background-size: contain;
    z-index: 100;
}

#landing-sidebar::after {
    content: "";
    position: absolute;
    /* right: 100%; */
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("/img/ribbon.png") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#sidebar::after {
    content: "";
    position: absolute;
    /* right: 100%; */
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("/img/ribbon.png") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

/*
#search-pane::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("/img/ribbon.png") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}
*/

#side-nav::after {
    content: "";
    position: absolute;
    /* right: 100%; */
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("/img/ribbon.png") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#main-with-sidebar {
    /*background-image: url("/img/shelving.png");
    background-repeat: repeat-y;
    background-size: contain;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    overflow: auto;
}

#nav {
    background-color: #55687b;
    height: 80px;
}

#nav-sticky-container {
}

#search-pane {
    position: fixed;
    width: 100%;
    right: 0;
    top: 80px;
    bottom: 0px;
    display: none;
    overflow-y: auto;
    -webkit-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    background-color: rgb(45, 62, 79);
    z-index: 10;
    box-sizing: border-box;
}

@media (min-width: 960px) {
    #search-pane {
        width: 480px;
    }
}

#landing-bg {
    background-size: cover;
    position: fixed;
    z-index: -10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
}

.text-align-right {
    text-align: right;
}

#particles-js-index {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: lighten;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left 0%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}

.sidebar-pad-top {
    border-top-color: rgba(255,255,255,.2);
    border-top: 1px solid rgba(255,255,255,.2);
    margin-top: 40px;
    padding-top: 10px;
}

.addButton{
    background-color: rgb(66, 244, 131);
    width: 50px;
    height: 50px;
}

.signs{
    width: initial !important;
}

.removeButton{
    background-color: rgb(226, 68, 78);
    width: 50px;
    height: 50px;
}

.removeButton:active{
    background-color: rgb(226, 68, 78);
    border-style: solid;
}

.addButton:active{
    background-color: rgb(66, 244, 131);
    border-style: solid;
}

::-webkit-scrollbar {
    width: 16px;
    height: 14px;
}
::-webkit-scrollbar-button {
    width: 16px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    background: #b8b7b9;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a6a5a8;
}
::-webkit-scrollbar-thumb:active {
    background: #9c9b9c;
}
::-webkit-scrollbar-track {
    background: #dcdbdd;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    background: #e3e2e4;
}
::-webkit-scrollbar-track:active {
    background: #d3d3d4;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.35);
    margin: 20px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.asphalt {
    background-color: rgb(52, 73, 94);
}

/* SESSION CSS FUNCTIONALITY */
#button-session-finish {
    border-radius: 5px;
    color: #2c3e50;
}

.button-session-finished {
    background-color: #e74c3c;
}

.button-session-unfinished {
    background-color: #2ecc71;
}

.session-finished-icon {
    background-color: #2ecc71;
}
.session-unfinished-icon {
    background-color: #95a5a6;
}

#session-title {
    text-align: center;
}

#session-subtitle {

    display: inline-block;
    color: #95a5a6;
    font-style: italic;
    transform: scale(0.8);
}

#button-session-invite {
    background-color: #ffffffb5;
    border-radius: 5px;
    color: #2c3e50;
    margin-right: 5px;
}

#session-users {
    width: 100%;
}

.session-user {
    margin-bottom: 10px;
}

.session-movie-holder {
    background-color: #ffffff1c;
    border-radius: 15px;
    color: white;
    padding: 20px;
}

.session-arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #ffffff1c;
}

.session-user-confirm-holder {
    margin: 0px;
    padding-left: 10px;
}

.noborder {
    margin: 0px;
    padding: 0px;
}

.session-user-holder {
    padding-right: 10px;
}

.session-user-confirm-icon {
    margin: 0 auto;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid #ffffff1c;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #ffffff1c;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-left: 60px solid #ffffff1c;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid #ffffff1c;
}

.session-confirm-icon {
    border-radius: 50%;
    color: #2c3e50;
    width: 50px;
    height: 50px;
}

.uk-button:hover {
    transform: scale(1.05);
}

.uk-button {
    transition: transform 0.25s;
}

#searchString {
    font-weight: bold;
    font-style: italic;
}

.uk-modal-dialog {
    border-radius: 10px;
    background-color: #34495e;
}

.uk-modal-header {
    background-color: #34495e !important;
    border-bottom: 0px solid #95a5a64d !important;
}

.uk-modal-body {
    background-color: #34495e !important;

}
.uk-modal-footer {
    background-color: #34495e !important;
    border-top: 0px solid #95a5a64d !important;
}

.session-title-holder {
    margin-right: 15px;
    width: 140px;
    height: 230px;
    box-sizing: border-box;
    background-color: #7f8c8d;
    border-radius:10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}

.large-spinner {
    transform: scale(2);
    margin: 20px;
}

.session-title-holder img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.session-title-holder {
    overflow: hidden;
}

.session-suggestion-remove:hover:after {
    content: "Remove";
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}