body {
}

html {
    background-color: #4a4a4a;
}

@font-face {
    font-family: titleFont;
    src: url("/fonts/titleFont.ttf");
}

#title-display {
    font-family: titleFont;
    font-size:34px;
    color: white;
}

#sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 240px;
    box-sizing: border-box;
    padding:20px;
    background-color: rgba(34, 34, 34, 0.83);
    color: white;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
}

#landing-sidebar {
    position: fixed;
    width: 300px;
    right: 0;
    top: 80px;
    bottom: 0;
    margin: 20px;
    background-color: rgba(34, 34, 34, 0.83);
    box-sizing: border-box;
    padding:20px;
}

@media (min-width: 960px) {
    #main-with-sidebar {
        left: 240px !important;
    }
}

.main-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    overflow: auto;
}


#main-with-sidebar {
    /*background-image: url("/img/shelving.png");
    background-repeat: repeat-y;
    background-size: contain;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    overflow: auto;
}

#nav {
    background-color: rgba(34, 34, 34, 0.83);
    height: 80px;
}

#search-pane {
    position: fixed;
    width: 100%;
    right: 0;
    top: 80px;
    bottom: 0px;
    display: none;
    overflow-y: auto;
    -webkit-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    box-shadow: inset 0px 17px 20px -15px rgba(0,0,0,0.25);
    background-color: rgb(27, 27, 27);
    z-index: 10;
    box-sizing: border-box;
}

@media (min-width: 960px) {
    #search-pane {
        width: 480px;
    }
}

#landing-bg {
    background-image:
            linear-gradient(100deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 60%),
            url('/img/popcorn.jpg');
    background-size: cover;
    position: fixed;
    z-index: -10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
}

.text-align-right {
    text-align: right;
}

#particles-js-index {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: lighten;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left 0%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}

.sidebar-pad-top {
    border-top-color: rgba(255,255,255,.2);
    border-top: 1px solid rgba(255,255,255,.2);
    margin-top: 40px;
    padding-top: 10px;
}

.addButton{
    background-color: rgb(66, 244, 131);
    width: 50px;
    height: 50px;
}

.signs{
    width: initial !important;
}

.removeButton{
    background-color: rgb(226, 68, 78);
    width: 50px;
    height: 50px;
}

.removeButton:active{
    background-color: rgb(226, 68, 78);
    border-style: solid;
}

.addButton:active{
    background-color: rgb(66, 244, 131);
    border-style: solid;
}

::-webkit-scrollbar {
    width: 16px;
    height: 14px;
}
::-webkit-scrollbar-button {
    width: 16px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    background: #b8b7b9;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a6a5a8;
}
::-webkit-scrollbar-thumb:active {
    background: #9c9b9c;
}
::-webkit-scrollbar-track {
    background: #dcdbdd;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
    background: #e3e2e4;
}
::-webkit-scrollbar-track:active {
    background: #d3d3d4;
}
::-webkit-scrollbar-corner {
    background: transparent;
}