<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="modals">
    <div id="modal-session-code" class="uk-modal-full uk-modal" uk-modal>
        <div class="uk-modal-dialog uk-flex uk-light uk-flex-center uk-flex-middle asphalt" uk-height-viewport>
            <button style="background-color: rgba(0,0,0,0)" id="session-code-close" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <form id="session-code-form" class="uk-search uk-search-large" autocomplete="off">
                <h1 id="session-code-label" style="text-align: center; font-weight: 400;">Enter Session Code:</h1>
                <input id="session-code-value" class="uk-search-input uk-text-center" type="search" placeholder="Session Code" style="text-transform:uppercase" autofocus>
            </form>
        </div>
    </div>
</div>