<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="nav">
    <div uk-sticky>
        <div id="nav" class="uk-container uk-container-expand">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li><a href="/" id="title-display">MovieShelf</a></li>
                    </ul>
                    <a uk-toggle href="#side-nav" class="uk-hidden@m uk-navbar-toggle uk-navbar-toggle-icon" uk-icon="icon: menu"></a>
                </div>

                <div class="uk-navbar-right" >
                    <ul class="uk-navbar-nav" sec:authorize="isAuthenticated()">
                        <!--<li><a href="/logout">Logout</a></li>-->
                        <li>
                            <form id="search-form" class="uk-search uk-search-default" th:action="@{/api/search}" th:object="${String}" method="post">
                                <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                                <input class="uk-search-input" type="search" name="searchString" id="searchString" placeholder="Search">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div id="side-nav" uk-offcanvas class="uk-hidden@m">
        <div class="uk-offcanvas-bar uk-light">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <div th:include="fragments/sidebar :: sidebar" class="sidebar-pad-top"></div>
        </div>
    </div>

    <div id="search-pane" class="uk-padding">
        <h2>Search Results</h2><hr>
        <div id="search-results">

        </div>
    </div>

    <!-- Include the modals fragment -->
    <div th:include="fragments/modals :: modals"></div>
</div>
</html>